<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Inregistrare</title>
        <%- include("../fragmente/head") %>
        <script type="text/javascript" src=/resurse/js/inregistrare.js></script>
    </head>
    <body>
        <%- include("../fragmente/header") %>
        <main class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h1 class="card-title mb-4 text-center text-primary">Înregistrare utilizator</h1>
                            <% if(!locals.raspuns) { %>
                                <div class="form-custom">
                                    <%- include("../fragmente/formular", {action: "/inregistrare"}) %>
                                </div>
                            <% } %>
                            <% if(locals.raspuns) { %>
                                <div class="alert alert-success" role="alert">
                                    <%- locals.raspuns %><br/>
                                </div>
                            <% } %>
                            <% if(locals.err) { %>
                                <div class="alert alert-danger" role="alert">
                                    <%- locals.err %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </main>
            <%- include("../fragmente/footer") %>
    </body>
</html>