<div class="oferte">
    <% if (oferte && oferte.length) { %>
        <% oferte.forEach(function(oferta) { %>
            <div class="oferta">
                <p>Categorie: <%= oferta.categorie %></p>
                <p>Reducere: <%= oferta.reducere %>%</p>
                <p>Valabilă între: <%= oferta["data-incepere"] %> și <%= oferta["data-finalizare"] %></p>
            </div>
        <% }); %>
    <% } else { %>
        <p>No offers available at the moment.</p>
    <% } %>
</div>
<h2>Masini Recomandate</h2>
<div class="masini">
    <% if (masini && masini.length) { %>
        <% masini.forEach(function(masina) { %>
            <div class="masina">
                <p><%= masina.nume %></p>
                <p>Preț: <%= masina.pret %> EUR</p>
                <p>Tip: <%= masina.tip_produs %></p>
            </div>
        <% }); %>
    <% } else { %>
        <p>No cars available at the moment.</p>
    <% } %>
</div>